@page
@model MyRazorPage.Pages.Account.ResetPassModel
@{
}
<div id="form">
    <h3 style="padding: 20px;">@Model.alert</h3>
        <div style="padding: 0px 20px 10px;">
            <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox">Go to email</a>
        </div>
    <div id="form-content">
        <form method="post">

            <label>Enter new password<span style="color: red;">*</span></label><br />
            <input asp-for="@Model.ResetPass.Pass" /><br />
            <span class="msg-error" asp-validation-for="@Model.ResetPass.Pass"></span><br />

            <label>Confirm password<span style="color: red;">*</span></label><br />
            <input asp-for="@Model.ResetPass.rePass" /><br />
            <span class="msg-error" asp-validation-for="@Model.ResetPass.rePass"></span><br />

            <input type="submit" value="GET PASSWORD" style="margin-bottom: 30px;" /><br />
        </form>
    </div>
</div>