@page
@model MyRazorPage.Pages.Admin.Order.OrderDetailModel
@{
    Layout = "_Layout2";
}
<div id="content">
    <div id="content-left">
        <ul>
            <a asp-page="/Admin/Dashboard">
            <li>Dashboard</li>  </a>
            <a asp-page="/Admin/Order/AllOrder">
            <li>Orders</li></a>
            <a asp-page="/Admin/Product/AllProduct">
            <li>Products</li></a>
            <a asp-page="/Admin/CustomerControl/AllCustomer">
            <li>Customers</li></a>
            <a asp-page="/Admin/EmployeesControl/AllEmployee">
            <li>Employee</li></a>
        </ul>
    </div>
    <div id="content-right">
        <div class="path-admin">ORDER DETAIL</b></div>
        <div class="content-main">
            <div id="content-main-dashboard">
                <div>
                    <div class="profile-order-title">
                        <div class="profile-order-title-left">
                            <div>OrderID: #@Model.order.OrderId</div>
                            <div>Order creation date: @Model.order.OrderDate</div>
                        </div>
                        <div class="profile-order-title-right">
                            @if (@Model.order.RequiredDate == null)
                            {
                                <span style="color: red;">Canceled</span>
                            }
                            else if (@Model.order.ShippedDate <= DateTime.Now && @Model.order.RequiredDate != null)
                            {
                                <span style="color: blue;">Completed</span>
                            }
                            else
                            {
                                <span style="color: green;">Pending</span>
                            }
                        </div>
                    </div>
                    @foreach (var item in Model.orderDetail)
                    {
                        <div class="profile-order-content" style="background-color: white;">
                        <div class="profile-order-content-col1">
                            <a><img src="~/img/civic.jpg" width="100%" /></a>
                        </div>
                        <div class="profile-order-content-col2">@item.Product.ProductName</div>
                        <div class="profile-order-content-col3">Quantity: @item.Quantity</div>
                        <div class="profile-order-content-col4">@item.UnitPrice $</div>
                    </div>
                    }
                    

                </div>
            </div>
        </div>
    </div>
</div>
